<html>
    <head>
        <title>JBlog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Welcome to JBlog</a></h1>
        </div>

        <div>
            <p>published: 07.02.2016, 02:14</p>
            <h2><a href="">My first post</a></h2>
            <p>“If you imagine less, less will be what you undoubtedly deserve,” Debbie Millman counseled in one of the best commencement speeches ever given, urging: “Do what you love, and don’t stop until you get what you love. Work as hard as you can, imagine immensities…” Far from Pollyanna platitude, this advice actually reflects what modern psychology knows about how belief systems about our own abilities and potential fuel our behavior and predict our success. </p>
        </div>

        <div>
            <p>published: 07.02.2016, 02:24</p>
            <h2><a href="">My second post</a></h2>
            <p>When we think about global warming at all, the arguments tend to be ideological, theological and economic. But to grasp the seriousness of our predicament, you just need to do a little math. For the past year, an easy and powerful bit of arithmetical analysis first published by financial analysts in the U.K. has been making the rounds of environmental conferences and journals, but it hasn't yet broken through to the larger public. This analysis upends most of the conventional political thinking about climate change. And it allows us to understand our precarious – our almost-but-not-quite-finally hopeless – position with three simple numbers</p>
        </div>
    </body>
</html>